<!doctype html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>node</title>
</head>
<body>
<form action = "/blog/update/{{blog._id}}" method="post">
    <p>제목</p>
    <textarea name="title" style="width:200px; height:50px">{{ blog.title }}</textarea><br/>
    <p>내용</p>
    <textarea name="content" style="width:700px; height:300px">{{ blog.content }}</textarea><br/>
    <button type = "submit" >수정완료</button>

    <!-- <button type = "button" onclick="location.href='/blog/update/{{blog._id}}'" >수정완료</button> -->
</form> 

</body>
</html>



